In [24]:
import numpy as np
import pandas as pd

In [25]:
df=pd.read_excel('Fraud_detection_Testdata2.1-1.xlsx', index_col=0)

In [26]:
df.head(5)

,Instrument or Mode,type,amount,AccountNoOrig,oldbalanceOrg,newbalanceOrig,AccountNoDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud for Operations,IP Address/Location,Unnamed: 12,Date,Time,Comments ( Fraudulent txns )
29,BANK ACCOUNT,CASH_OUT,19681.95,C417621837,2347047.00,2327365.05,M971324399,0.00,19681.95,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.88Ã‚Â°W",NaN,2023-02-27 00:00:00,01:20:00,Large Txns near all diff locations in the same...
27,BANK ACCOUNT,CASH_OUT,133270.90,C417621837,2500000.00,2366729.10,C2094777811,67722.17,200993.07,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.84Ã‚Â°W",NaN,2023-02-27 00:00:00,01:13:00,Large Txns near all diff locations in the same...
213,WIRE-TRANSFER,TRANSFER,86070.17,C1844941220,86070.17,0.00,C1191544932,0.00,86070.17,1,1,"Chicago,Illinois,41.84Ã‚Â°N 87.68Ã‚Â°W",NaN,2023-02-27 00:00:00,09:46:00,Zeroed out balance
112,BANK ACCOUNT,CASH_OUT,10000000.00,C351297720,10000000.00,0.00,C766681183,0.00,10000000.00,1,1,"Austin,Texas,30.30Ã‚Â°N 97.75Ã‚Â°W",NaN,2023-02-27 00:00:00,05:22:00,Zeroed out balance
35,CREDIT-CARD,PAYMENT,12895.72,C869758554,55794.32,42898.60,M1427892726,0.00,12895.72,1,1,"Moscow,Russia,76.46Ã‚Â°N 90.52Ã‚Â°E",NaN,2023-02-27 00:00:00,01:22:00,Credit Card txns in Russia

In [27]:
df.describe()

,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud for Operations,Unnamed: 12
count,4.990000e+02,4.990000e+02,4.990000e+02,4.990000e+02,4.990000e+02,499.000000,499.000000,0.0
mean,1.280368e+05,1.209333e+06,1.081161e+06,1.110387e+06,1.238198e+06,0.040080,0.757515,NaN
std,5.038947e+05,2.438811e+06,2.389404e+06,2.909679e+06,3.040839e+06,0.196344,0.429016,NaN
min,5.258000e+01,1.100000e+02,-1.366952e+06,0.000000e+00,5.258000e+01,0.000000,0.000000,NaN
25%,5.255890e+03,2.061100e+04,1.902230e+03,0.000000e+00,5.793365e+03,0.000000,1.000000,NaN
50%,1.775706e+04,1.724320e+05,5.722022e+04,0.000000e+00,2.147785e+04,0.000000,1.000000,NaN
75%,1.247511e+05,3.028673e+05,2.505896e+05,3.109344e+05,4.795721e+05,0.000000,1.000000,NaN
max,1.000000e+07,1.230000e+07,1.209367e+07,1.780000e+07,1.809170e+07,1.000000,1.000000,NaN

In [28]:
df.columns

Index(['Instrument or Mode', 'type', 'amount', 'AccountNoOrig',
       'oldbalanceOrg', 'newbalanceOrig', 'AccountNoDest', 'oldbalanceDest',
       'newbalanceDest', 'isFraud', 'isFlaggedFraud for Operations',
       'IP Address/Location', 'Unnamed: 12', 'Date', 'Time',
       'Comments ( Fraudulent txns )'],
      dtype='object')

In [29]:
df.T

,29,27,213,112,35,3,193,376,291,4,...,350,391,54,85,867,523,444,574,105,36
Instrument or Mode,BANK ACCOUNT,BANK ACCOUNT,WIRE-TRANSFER,BANK ACCOUNT,CREDIT-CARD,BANK ACCOUNT,BANK ACCOUNT,BANK ACCOUNT,WIRE-TRANSFER,BANK ACCOUNT,...,CREDIT-CARD,CREDIT-CARD,CREDIT-CARD,CREDIT-CARD,BANK ACCOUNT,BANK ACCOUNT,CREDIT-CARD,WIRE-TRANSFER,CREDIT-CARD,CREDIT-CARD
type,CASH_OUT,CASH_OUT,TRANSFER,CASH_OUT,PAYMENT,CASH_OUT,CASH_OUT,CASH_OUT,TRANSFER,CASH_OUT,...,PAYMENT,PAYMENT,PAYMENT,PAYMENT,CASH_OUT,CASH_OUT,PAYMENT,TRANSFER,PAYMENT,PAYMENT
amount,19681.95,133270.9,86070.17,10000000.0,12895.72,279322.88,13707.11,10119.47,60726.57,415046.18,...,3117.04,8940.39,1667.18,7222.78,140934.36,2657.5,11971.97,30538.26,6078.0,7874.98
AccountNoOrig,C417621837,C417621837,C1844941220,C351297720,C869758554,C393594087,C556223230,C213063852,C383882703,C1139817507,...,C340715687,C257614494,C1015139714,C104912388,C2021357462,C1106840336,C715160960,C208438522,C1354510873,C1087916281
oldbalanceOrg,2347047.0,2500000.0,86070.17,10000000.0,55794.32,1629141.12,13707.11,10119.47,60726.57,2227089.93,...,704521.71,122.0,38567.04,64443.0,2879605.35,250000.0,141440.0,31324.0,250000.0,41945.73
newbalanceOrig,2327365.05,2366729.1,0.0,0.0,42898.6,1349818.24,0.0,0.0,0.0,1812043.75,...,701404.67,-8818.39,36899.86,57220.22,2738670.99,247342.5,129468.03,785.74,243922.0,34070.75
AccountNoDest,M971324399,C2094777811,C1191544932,C766681183,M1427892726,C657736958,C2094777811,C922511709,C1807010830,C1538745405,...,M1387473776,M533053618,M287056540,M1657521272,C1875310223,C1997859171,M1774316039,C1777369261,M93974967,M1250315597
oldbalanceDest,0.0,67722.17,0.0,0.0,0.0,6071458.76,0.0,0.0,0.0,685156.96,...,0.0,0.0,0.0,0.0,142672.0,60314.73,0.0,177509.88,0.0,0.0
newbalanceDest,19681.95,200993.07,86070.17,10000000.0,12895.72,6350781.64,13707.11,10119.47,60726.57,1100203.14,...,3117.04,8940.39,1667.18,7222.78,283606.36,62972.23,11971.97,208048.14,6078.0,7874.98
isFraud,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
isFlaggedFraud for Operations,1,1,1,1,1,1,1,1,1,1,...,0,1,0,1,1,0,1,1,1,1
IP Address/Location,"Denver,Colorado,39.76Ã‚Â°N 104.88Ã‚Â°W","Denver,Colorado,39.76Ã‚Â°N 104.84Ã‚Â°W","Chicago,Illinois,41.84Ã‚Â°N 87.68Ã‚Â°W","Austin,Texas,30.30Ã‚Â°N 97.75Ã‚Â°W","Moscow,Russia,76.46Ã‚Â°N 90.52Ã‚Â°E","Dallas,Texas,32.79Ã‚Â°N 96.77Ã‚Â°W","Jacksonville,Florida,30.34Ã‚Â°N 81.66Ã‚Â°W","Austin,Texas,30.30Ã‚Â°N 97.75Ã‚Â°W","Nashville,Tennessee,36.17Ã‚Â°N 86.79Ã‚Â°W","Jacksonville,Florida,30.34Ã‚Â°N 81.66Ã‚Â°W",...,India,"Louisville,Kentucky,38.17Ã‚Â°N 85.65Ã‚Â°W","Dallas,Texas,32.79Ã‚Â°N 96.77Ã‚Â°W","Phoenix,Arizona,33.57Ã‚Â°N 112.09Ã‚Â°W","Denver,Colorado,39.76Ã‚Â°N 104.84Ã‚Â°W","Boston,Massachusetts,42.34Ã‚Â°N 71.02Ã‚Â°W","Las Vegas,Nevada,36.23Ã‚Â°N 115.26Ã‚Â°W","Chicago,Illinois,41.84Ã‚Â°N 87.68Ã‚Â°W","San Francisco,California,37.73Ã‚Â°N 123.03Ã‚Â°W","Fort Worth,Texas,32.78Ã‚Â°N 97.35Ã‚Â°W"
Unnamed: 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date,2023-02-27 00:00:00,2023-02-27 00:00:00,2023-02-27 00:00:00,2023-02-27 00:00:00,2023-02-27 00:00:00,2023-02-27 00:00:00,2023-02-27 00:00:00,2023-02-27 00:00:00,2023-02-27 00:00:00,2023-02-27 00:00:00,...,2023-02-27 00:00:00,2023-02-27 00:00:00,2023-02-27 00:00:00,2023-02-27 00:00:00,2/29/2023,2023-02-28 00:00:00,2023-02-27 00:00:00,2023-02-28 00:00:00,2023-02-27 00:00:00,2023-02-27 00:00:00
Time,01:20:00,01:13:00,09:46:00,05:22:00,01:22:00,00:07:00,08:45:00,19:04:00,14:32:00,00:10:00,...,17:41:00,19:40:00,02:24:00,04:16:00,00:41:00,02:41:00,22:29:00,06:27:00,05:03:00,01:23:00
Comments ( Fraudulent txns ),Large Txns near all diff locations in the same...,Large Txns near all diff locations in the same...,Zeroed out balance,Zeroed out balance,Credit Card txns in Russia,Sanctions transactions,Zeroed out balance,Zeroed out balance,Zeroed out balance,Sanctions transactions,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.head(5)

,Instrument or Mode,type,amount,AccountNoOrig,oldbalanceOrg,newbalanceOrig,AccountNoDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud for Operations,IP Address/Location,Unnamed: 12,Date,Time,Comments ( Fraudulent txns )
29,BANK ACCOUNT,CASH_OUT,19681.95,C417621837,2347047.00,2327365.05,M971324399,0.00,19681.95,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.88Ã‚Â°W",NaN,2023-02-27 00:00:00,01:20:00,Large Txns near all diff locations in the same...
27,BANK ACCOUNT,CASH_OUT,133270.90,C417621837,2500000.00,2366729.10,C2094777811,67722.17,200993.07,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.84Ã‚Â°W",NaN,2023-02-27 00:00:00,01:13:00,Large Txns near all diff locations in the same...
213,WIRE-TRANSFER,TRANSFER,86070.17,C1844941220,86070.17,0.00,C1191544932,0.00,86070.17,1,1,"Chicago,Illinois,41.84Ã‚Â°N 87.68Ã‚Â°W",NaN,2023-02-27 00:00:00,09:46:00,Zeroed out balance
112,BANK ACCOUNT,CASH_OUT,10000000.00,C351297720,10000000.00,0.00,C766681183,0.00,10000000.00,1,1,"Austin,Texas,30.30Ã‚Â°N 97.75Ã‚Â°W",NaN,2023-02-27 00:00:00,05:22:00,Zeroed out balance
35,CREDIT-CARD,PAYMENT,12895.72,C869758554,55794.32,42898.60,M1427892726,0.00,12895.72,1,1,"Moscow,Russia,76.46Ã‚Â°N 90.52Ã‚Â°E",NaN,2023-02-27 00:00:00,01:22:00,Credit Card txns in Russia

In [31]:
df.iloc[0:5,0:]

,Instrument or Mode,type,amount,AccountNoOrig,oldbalanceOrg,newbalanceOrig,AccountNoDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud for Operations,IP Address/Location,Unnamed: 12,Date,Time,Comments ( Fraudulent txns )
29,BANK ACCOUNT,CASH_OUT,19681.95,C417621837,2347047.00,2327365.05,M971324399,0.00,19681.95,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.88Ã‚Â°W",NaN,2023-02-27 00:00:00,01:20:00,Large Txns near all diff locations in the same...
27,BANK ACCOUNT,CASH_OUT,133270.90,C417621837,2500000.00,2366729.10,C2094777811,67722.17,200993.07,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.84Ã‚Â°W",NaN,2023-02-27 00:00:00,01:13:00,Large Txns near all diff locations in the same...
213,WIRE-TRANSFER,TRANSFER,86070.17,C1844941220,86070.17,0.00,C1191544932,0.00,86070.17,1,1,"Chicago,Illinois,41.84Ã‚Â°N 87.68Ã‚Â°W",NaN,2023-02-27 00:00:00,09:46:00,Zeroed out balance
112,BANK ACCOUNT,CASH_OUT,10000000.00,C351297720,10000000.00,0.00,C766681183,0.00,10000000.00,1,1,"Austin,Texas,30.30Ã‚Â°N 97.75Ã‚Â°W",NaN,2023-02-27 00:00:00,05:22:00,Zeroed out balance
35,CREDIT-CARD,PAYMENT,12895.72,C869758554,55794.32,42898.60,M1427892726,0.00,12895.72,1,1,"Moscow,Russia,76.46Ã‚Â°N 90.52Ã‚Â°E",NaN,2023-02-27 00:00:00,01:22:00,Credit Card txns in Russia

In [32]:
df.drop("Unnamed: 12",axis=1)

,Instrument or Mode,type,amount,AccountNoOrig,oldbalanceOrg,newbalanceOrig,AccountNoDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud for Operations,IP Address/Location,Date,Time,Comments ( Fraudulent txns )
29,BANK ACCOUNT,CASH_OUT,19681.95,C417621837,2347047.00,2327365.05,M971324399,0.00,19681.95,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.88Ã‚Â°W",2023-02-27 00:00:00,01:20:00,Large Txns near all diff locations in the same...
27,BANK ACCOUNT,CASH_OUT,133270.90,C417621837,2500000.00,2366729.10,C2094777811,67722.17,200993.07,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.84Ã‚Â°W",2023-02-27 00:00:00,01:13:00,Large Txns near all diff locations in the same...
213,WIRE-TRANSFER,TRANSFER,86070.17,C1844941220,86070.17,0.00,C1191544932,0.00,86070.17,1,1,"Chicago,Illinois,41.84Ã‚Â°N 87.68Ã‚Â°W",2023-02-27 00:00:00,09:46:00,Zeroed out balance
112,BANK ACCOUNT,CASH_OUT,10000000.00,C351297720,10000000.00,0.00,C766681183,0.00,10000000.00,1,1,"Austin,Texas,30.30Ã‚Â°N 97.75Ã‚Â°W",2023-02-27 00:00:00,05:22:00,Zeroed out balance
35,CREDIT-CARD,PAYMENT,12895.72,C869758554,55794.32,42898.60,M1427892726,0.00,12895.72,1,1,"Moscow,Russia,76.46Ã‚Â°N 90.52Ã‚Â°E",2023-02-27 00:00:00,01:22:00,Credit Card txns in Russia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,BANK ACCOUNT,CASH_OUT,2657.50,C1106840336,250000.00,247342.50,C1997859171,60314.73,62972.23,0,0,"Boston,Massachusetts,42.34Ã‚Â°N 71.02Ã‚Â°W",2023-02-28 00:00:00,02:41:00,NaN
444,CREDIT-CARD,PAYMENT,11971.97,C715160960,141440.00,129468.03,M1774316039,0.00,11971.97,0,1,"Las Vegas,Nevada,36.23Ã‚Â°N 115.26Ã‚Â°W",2023-02-27 00:00:00,22:29:00,NaN
574,WIRE-TRANSFER,TRANSFER,30538.26,C208438522,31324.00,785.74,C1777369261,177509.88,208048.14,0,1,"Chicago,Illinois,41.84Ã‚Â°N 87.68Ã‚Â°W",2023-02-28 00:00:00,06:27:00,NaN
105,CREDIT-CARD,PAYMENT,6078.00,C1354510873,250000.00,243922.00,M93974967,0.00,6078.00,0,1,"San Francisco,California,37.73Ã‚Â°N 123.03Ã‚Â°W",2023-02-27 00:00:00,05:03:00,NaN
36,CREDIT-CARD,PAYMENT,7874.98,C1087916281,41945.73,34070.75,M1250315597,0.00,7874.98,0,1,"Fort Worth,Texas,32.78Ã‚Â°N 97.35Ã‚Â°W",2023-02-27 00:00:00,01:23:00,NaN

In [33]:
df=df.drop("Unnamed: 12",axis=1)

In [34]:
df.head(5)

,Instrument or Mode,type,amount,AccountNoOrig,oldbalanceOrg,newbalanceOrig,AccountNoDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud for Operations,IP Address/Location,Date,Time,Comments ( Fraudulent txns )
29,BANK ACCOUNT,CASH_OUT,19681.95,C417621837,2347047.00,2327365.05,M971324399,0.00,19681.95,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.88Ã‚Â°W",2023-02-27 00:00:00,01:20:00,Large Txns near all diff locations in the same...
27,BANK ACCOUNT,CASH_OUT,133270.90,C417621837,2500000.00,2366729.10,C2094777811,67722.17,200993.07,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.84Ã‚Â°W",2023-02-27 00:00:00,01:13:00,Large Txns near all diff locations in the same...
213,WIRE-TRANSFER,TRANSFER,86070.17,C1844941220,86070.17,0.00,C1191544932,0.00,86070.17,1,1,"Chicago,Illinois,41.84Ã‚Â°N 87.68Ã‚Â°W",2023-02-27 00:00:00,09:46:00,Zeroed out balance
112,BANK ACCOUNT,CASH_OUT,10000000.00,C351297720,10000000.00,0.00,C766681183,0.00,10000000.00,1,1,"Austin,Texas,30.30Ã‚Â°N 97.75Ã‚Â°W",2023-02-27 00:00:00,05:22:00,Zeroed out balance
35,CREDIT-CARD,PAYMENT,12895.72,C869758554,55794.32,42898.60,M1427892726,0.00,12895.72,1,1,"Moscow,Russia,76.46Ã‚Â°N 90.52Ã‚Â°E",2023-02-27 00:00:00,01:22:00,Credit Card txns in Russia

In [35]:
df.head(10)

,Instrument or Mode,type,amount,AccountNoOrig,oldbalanceOrg,newbalanceOrig,AccountNoDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud for Operations,IP Address/Location,Date,Time,Comments ( Fraudulent txns )
29,BANK ACCOUNT,CASH_OUT,19681.95,C417621837,2347047.00,2327365.05,M971324399,0.00,19681.95,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.88Ã‚Â°W",2023-02-27 00:00:00,01:20:00,Large Txns near all diff locations in the same...
27,BANK ACCOUNT,CASH_OUT,133270.90,C417621837,2500000.00,2366729.10,C2094777811,67722.17,200993.07,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.84Ã‚Â°W",2023-02-27 00:00:00,01:13:00,Large Txns near all diff locations in the same...
213,WIRE-TRANSFER,TRANSFER,86070.17,C1844941220,86070.17,0.00,C1191544932,0.00,86070.17,1,1,"Chicago,Illinois,41.84Ã‚Â°N 87.68Ã‚Â°W",2023-02-27 00:00:00,09:46:00,Zeroed out balance
112,BANK ACCOUNT,CASH_OUT,10000000.00,C351297720,10000000.00,0.00,C766681183,0.00,10000000.00,1,1,"Austin,Texas,30.30Ã‚Â°N 97.75Ã‚Â°W",2023-02-27 00:00:00,05:22:00,Zeroed out balance
35,CREDIT-CARD,PAYMENT,12895.72,C869758554,55794.32,42898.60,M1427892726,0.00,12895.72,1,1,"Moscow,Russia,76.46Ã‚Â°N 90.52Ã‚Â°E",2023-02-27 00:00:00,01:22:00,Credit Card txns in Russia
3,BANK ACCOUNT,CASH_OUT,279322.88,C393594087,1629141.12,1349818.24,C657736958,6071458.76,6350781.64,1,1,"Dallas,Texas,32.79Ã‚Â°N 96.77Ã‚Â°W",2023-02-27 00:00:00,00:07:00,Sanctions transactions
193,BANK ACCOUNT,CASH_OUT,13707.11,C556223230,13707.11,0.00,C2094777811,0.00,13707.11,1,1,"Jacksonville,Florida,30.34Ã‚Â°N 81.66Ã‚Â°W",2023-02-27 00:00:00,08:45:00,Zeroed out balance
376,BANK ACCOUNT,CASH_OUT,10119.47,C213063852,10119.47,0.00,C922511709,0.00,10119.47,1,1,"Austin,Texas,30.30Ã‚Â°N 97.75Ã‚Â°W",2023-02-27 00:00:00,19:04:00,Zeroed out balance
291,WIRE-TRANSFER,TRANSFER,60726.57,C383882703,60726.57,0.00,C1807010830,0.00,60726.57,1,1,"Nashville,Tennessee,36.17Ã‚Â°N 86.79Ã‚Â°W",2023-02-27 00:00:00,14:32:00,Zeroed out balance
4,BANK ACCOUNT,CASH_OUT,415046.18,C1139817507,2227089.93,1812043.75,C1538745405,685156.96,1100203.14,1,1,"Jacksonville,Florida,30.34Ã‚Â°N 81.66Ã‚Â°W",2023-02-27 00:00:00,00:10:00,Sanctions transactions

In [36]:
df.reset_index()

,index,Instrument or Mode,type,amount,AccountNoOrig,oldbalanceOrg,newbalanceOrig,AccountNoDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud for Operations,IP Address/Location,Date,Time,Comments ( Fraudulent txns )
0,29,BANK ACCOUNT,CASH_OUT,19681.95,C417621837,2347047.00,2327365.05,M971324399,0.00,19681.95,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.88Ã‚Â°W",2023-02-27 00:00:00,01:20:00,Large Txns near all diff locations in the same...
1,27,BANK ACCOUNT,CASH_OUT,133270.90,C417621837,2500000.00,2366729.10,C2094777811,67722.17,200993.07,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.84Ã‚Â°W",2023-02-27 00:00:00,01:13:00,Large Txns near all diff locations in the same...
2,213,WIRE-TRANSFER,TRANSFER,86070.17,C1844941220,86070.17,0.00,C1191544932,0.00,86070.17,1,1,"Chicago,Illinois,41.84Ã‚Â°N 87.68Ã‚Â°W",2023-02-27 00:00:00,09:46:00,Zeroed out balance
3,112,BANK ACCOUNT,CASH_OUT,10000000.00,C351297720,10000000.00,0.00,C766681183,0.00,10000000.00,1,1,"Austin,Texas,30.30Ã‚Â°N 97.75Ã‚Â°W",2023-02-27 00:00:00,05:22:00,Zeroed out balance
4,35,CREDIT-CARD,PAYMENT,12895.72,C869758554,55794.32,42898.60,M1427892726,0.00,12895.72,1,1,"Moscow,Russia,76.46Ã‚Â°N 90.52Ã‚Â°E",2023-02-27 00:00:00,01:22:00,Credit Card txns in Russia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,523,BANK ACCOUNT,CASH_OUT,2657.50,C1106840336,250000.00,247342.50,C1997859171,60314.73,62972.23,0,0,"Boston,Massachusetts,42.34Ã‚Â°N 71.02Ã‚Â°W",2023-02-28 00:00:00,02:41:00,NaN
495,444,CREDIT-CARD,PAYMENT,11971.97,C715160960,141440.00,129468.03,M1774316039,0.00,11971.97,0,1,"Las Vegas,Nevada,36.23Ã‚Â°N 115.26Ã‚Â°W",2023-02-27 00:00:00,22:29:00,NaN
496,574,WIRE-TRANSFER,TRANSFER,30538.26,C208438522,31324.00,785.74,C1777369261,177509.88,208048.14,0,1,"Chicago,Illinois,41.84Ã‚Â°N 87.68Ã‚Â°W",2023-02-28 00:00:00,06:27:00,NaN
497,105,CREDIT-CARD,PAYMENT,6078.00,C1354510873,250000.00,243922.00,M93974967,0.00,6078.00,0,1,"San Francisco,California,37.73Ã‚Â°N 123.03Ã‚Â°W",2023-02-27 00:00:00,05:03:00,NaN
498,36,CREDIT-CARD,PAYMENT,7874.98,C1087916281,41945.73,34070.75,M1250315597,0.00,7874.98,0,1,"Fort Worth,Texas,32.78Ã‚Â°N 97.35Ã‚Â°W",2023-02-27 00:00:00,01:23:00,NaN

In [38]:
df.reset_index(drop=True)

,Instrument or Mode,type,amount,AccountNoOrig,oldbalanceOrg,newbalanceOrig,AccountNoDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud for Operations,IP Address/Location,Date,Time,Comments ( Fraudulent txns )
0,BANK ACCOUNT,CASH_OUT,19681.95,C417621837,2347047.00,2327365.05,M971324399,0.00,19681.95,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.88Ã‚Â°W",2023-02-27 00:00:00,01:20:00,Large Txns near all diff locations in the same...
1,BANK ACCOUNT,CASH_OUT,133270.90,C417621837,2500000.00,2366729.10,C2094777811,67722.17,200993.07,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.84Ã‚Â°W",2023-02-27 00:00:00,01:13:00,Large Txns near all diff locations in the same...
2,WIRE-TRANSFER,TRANSFER,86070.17,C1844941220,86070.17,0.00,C1191544932,0.00,86070.17,1,1,"Chicago,Illinois,41.84Ã‚Â°N 87.68Ã‚Â°W",2023-02-27 00:00:00,09:46:00,Zeroed out balance
3,BANK ACCOUNT,CASH_OUT,10000000.00,C351297720,10000000.00,0.00,C766681183,0.00,10000000.00,1,1,"Austin,Texas,30.30Ã‚Â°N 97.75Ã‚Â°W",2023-02-27 00:00:00,05:22:00,Zeroed out balance
4,CREDIT-CARD,PAYMENT,12895.72,C869758554,55794.32,42898.60,M1427892726,0.00,12895.72,1,1,"Moscow,Russia,76.46Ã‚Â°N 90.52Ã‚Â°E",2023-02-27 00:00:00,01:22:00,Credit Card txns in Russia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,BANK ACCOUNT,CASH_OUT,2657.50,C1106840336,250000.00,247342.50,C1997859171,60314.73,62972.23,0,0,"Boston,Massachusetts,42.34Ã‚Â°N 71.02Ã‚Â°W",2023-02-28 00:00:00,02:41:00,NaN
495,CREDIT-CARD,PAYMENT,11971.97,C715160960,141440.00,129468.03,M1774316039,0.00,11971.97,0,1,"Las Vegas,Nevada,36.23Ã‚Â°N 115.26Ã‚Â°W",2023-02-27 00:00:00,22:29:00,NaN
496,WIRE-TRANSFER,TRANSFER,30538.26,C208438522,31324.00,785.74,C1777369261,177509.88,208048.14,0,1,"Chicago,Illinois,41.84Ã‚Â°N 87.68Ã‚Â°W",2023-02-28 00:00:00,06:27:00,NaN
497,CREDIT-CARD,PAYMENT,6078.00,C1354510873,250000.00,243922.00,M93974967,0.00,6078.00,0,1,"San Francisco,California,37.73Ã‚Â°N 123.03Ã‚Â°W",2023-02-27 00:00:00,05:03:00,NaN
498,CREDIT-CARD,PAYMENT,7874.98,C1087916281,41945.73,34070.75,M1250315597,0.00,7874.98,0,1,"Fort Worth,Texas,32.78Ã‚Â°N 97.35Ã‚Â°W",2023-02-27 00:00:00,01:23:00,NaN

In [39]:
resultCol=df.loc[:,['isFraud']]

In [40]:
resultCol

     isFraud
29         1
27         1
213        1
112        1
35         1
..       ...
523        0
444        0
574        0
105        0
36         0

[499 rows x 1 columns]

In [41]:
df.dtypes

Instrument or Mode                object
type                              object
amount                           float64
AccountNoOrig                     object
oldbalanceOrg                    float64
newbalanceOrig                   float64
AccountNoDest                     object
oldbalanceDest                   float64
newbalanceDest                   float64
isFraud                            int64
isFlaggedFraud for Operations      int64
IP Address/Location               object
Date                              object
Time                              object
Comments ( Fraudulent txns )      object
dtype: object

In [51]:
df.[:,'Instrument or Mode']

29      BANK ACCOUNT
27      BANK ACCOUNT
213    WIRE-TRANSFER
112     BANK ACCOUNT
35       CREDIT-CARD
           ...
523     BANK ACCOUNT
444      CREDIT-CARD
574    WIRE-TRANSFER
105      CREDIT-CARD
36       CREDIT-CARD
Name: Instrument or Mode, Length: 499, dtype: object

In [57]:
pd.Categorical(df['Instrument or Mode'])

['BANK ACCOUNT', 'BANK ACCOUNT', 'WIRE-TRANSFER', 'BANK ACCOUNT', 'CREDIT-CARD', ..., 'BANK ACCOUNT', 'CREDIT-CARD', 'WIRE-TRANSFER', 'CREDIT-CARD', 'CREDIT-CARD']
Length: 499
Categories (4, object): ['BANK ACCOUNT', 'CREDIT-CARD', 'DEBIT-CARD', 'WIRE-TRANSFER']

In [58]:
pd.Categorical(df['Instrument or Mode']).codes

array([0, 0, 3, 0, 1, 0, 0, 0, 3, 0, 0, 3, 3, 1, 0, 3, 0, 3, 0, 1, 1, 0,
       0, 0, 0, 1, 3, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 3, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 3, 0, 0, 1, 2, 3, 3,
       0, 1, 0, 3, 1, 1, 0, 1, 3, 1, 1, 1, 0, 3, 1, 2, 0, 0, 1, 3, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 3, 2, 1, 1, 0, 1, 0, 0, 1, 3, 1, 0, 1, 1, 1, 0,
       1, 3, 1, 1, 2, 1, 1, 1, 0, 0, 0, 1, 2, 1, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 3, 3, 1, 1, 0, 1, 0, 0, 3, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 3, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 3, 1, 0, 0, 0, 1, 1, 1, 1, 0, 3, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       3, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 3,
       1, 1, 1, 1, 0, 0, 3, 1, 1, 3, 1, 3, 1, 0, 2, 0, 1, 1, 1, 3, 3, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 0, 3, 1, 0, 1, 1, 3, 1, 1, 0, 1, 0, 2, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 3, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 3, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 2, 0, 0, 1, 0, 2, 0, 1, 1, 1, 1, 1, 1, 0, 3, 1, 1, 0, 0, 1, 1,
       3, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 3, 1, 1], dtype=int8)

In [59]:
df['instrument_int']=pd.Categorical(df['Instrument or Mode']).codes

In [60]:
df.head(5)

,Instrument or Mode,type,amount,AccountNoOrig,oldbalanceOrg,newbalanceOrig,AccountNoDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud for Operations,IP Address/Location,Date,Time,Comments ( Fraudulent txns ),instrument_int
29,BANK ACCOUNT,CASH_OUT,19681.95,C417621837,2347047.00,2327365.05,M971324399,0.00,19681.95,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.88Ã‚Â°W",2023-02-27 00:00:00,01:20:00,Large Txns near all diff locations in the same...,0
27,BANK ACCOUNT,CASH_OUT,133270.90,C417621837,2500000.00,2366729.10,C2094777811,67722.17,200993.07,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.84Ã‚Â°W",2023-02-27 00:00:00,01:13:00,Large Txns near all diff locations in the same...,0
213,WIRE-TRANSFER,TRANSFER,86070.17,C1844941220,86070.17,0.00,C1191544932,0.00,86070.17,1,1,"Chicago,Illinois,41.84Ã‚Â°N 87.68Ã‚Â°W",2023-02-27 00:00:00,09:46:00,Zeroed out balance,3
112,BANK ACCOUNT,CASH_OUT,10000000.00,C351297720,10000000.00,0.00,C766681183,0.00,10000000.00,1,1,"Austin,Texas,30.30Ã‚Â°N 97.75Ã‚Â°W",2023-02-27 00:00:00,05:22:00,Zeroed out balance,0
35,CREDIT-CARD,PAYMENT,12895.72,C869758554,55794.32,42898.60,M1427892726,0.00,12895.72,1,1,"Moscow,Russia,76.46Ã‚Â°N 90.52Ã‚Â°E",2023-02-27 00:00:00,01:22:00,Credit Card txns in Russia,1