In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_excel('Fraud_detection_Testdata2.1-1.xlsx', index_col=0)

In [3]:
df.head(5)

,Instrument or Mode,type,amount,AccountNoOrig,oldbalanceOrg,newbalanceOrig,AccountNoDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud for Operations,IP Address/Location,Unnamed: 12,Date,Time,Comments ( Fraudulent txns )
29,BANK ACCOUNT,CASH_OUT,19681.95,C417621837,2347047.00,2327365.05,M971324399,0.00,19681.95,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.88Ã‚Â°W",NaN,2023-02-27 00:00:00,01:20:00,Large Txns near all diff locations in the same...
27,BANK ACCOUNT,CASH_OUT,133270.90,C417621837,2500000.00,2366729.10,C2094777811,67722.17,200993.07,1,1,"Denver,Colorado,39.76Ã‚Â°N 104.84Ã‚Â°W",NaN,2023-02-27 00:00:00,01:13:00,Large Txns near all diff locations in the same...
213,WIRE-TRANSFER,TRANSFER,86070.17,C1844941220,86070.17,0.00,C1191544932,0.00,86070.17,1,1,"Chicago,Illinois,41.84Ã‚Â°N 87.68Ã‚Â°W",NaN,2023-02-27 00:00:00,09:46:00,Zeroed out balance
112,BANK ACCOUNT,CASH_OUT,10000000.00,C351297720,10000000.00,0.00,C766681183,0.00,10000000.00,1,1,"Austin,Texas,30.30Ã‚Â°N 97.75Ã‚Â°W",NaN,2023-02-27 00:00:00,05:22:00,Zeroed out balance
35,CREDIT-CARD,PAYMENT,12895.72,C869758554,55794.32,42898.60,M1427892726,0.00,12895.72,1,1,"Moscow,Russia,76.46Ã‚Â°N 90.52Ã‚Â°E",NaN,2023-02-27 00:00:00,01:22:00,Credit Card txns in Russia

In [4]:
df=df.drop("Unnamed: 12",axis=1)
df=df.drop("IP Address/Location",axis=1)
df=df.drop("Date",axis=1)
df=df.drop("Time",axis=1)
df=df.drop("Comments ( Fraudulent txns )",axis=1)

In [5]:
df.head(5)

,Instrument or Mode,type,amount,AccountNoOrig,oldbalanceOrg,newbalanceOrig,AccountNoDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud for Operations
29,BANK ACCOUNT,CASH_OUT,19681.95,C417621837,2347047.00,2327365.05,M971324399,0.00,19681.95,1,1
27,BANK ACCOUNT,CASH_OUT,133270.90,C417621837,2500000.00,2366729.10,C2094777811,67722.17,200993.07,1,1
213,WIRE-TRANSFER,TRANSFER,86070.17,C1844941220,86070.17,0.00,C1191544932,0.00,86070.17,1,1
112,BANK ACCOUNT,CASH_OUT,10000000.00,C351297720,10000000.00,0.00,C766681183,0.00,10000000.00,1,1
35,CREDIT-CARD,PAYMENT,12895.72,C869758554,55794.32,42898.60,M1427892726,0.00,12895.72,1,1

In [6]:
df=df.reset_index(drop=True)

In [7]:
df.head(10)

,Instrument or Mode,type,amount,AccountNoOrig,oldbalanceOrg,newbalanceOrig,AccountNoDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud for Operations
0,BANK ACCOUNT,CASH_OUT,19681.95,C417621837,2347047.00,2327365.05,M971324399,0.00,19681.95,1,1
1,BANK ACCOUNT,CASH_OUT,133270.90,C417621837,2500000.00,2366729.10,C2094777811,67722.17,200993.07,1,1
2,WIRE-TRANSFER,TRANSFER,86070.17,C1844941220,86070.17,0.00,C1191544932,0.00,86070.17,1,1
3,BANK ACCOUNT,CASH_OUT,10000000.00,C351297720,10000000.00,0.00,C766681183,0.00,10000000.00,1,1
4,CREDIT-CARD,PAYMENT,12895.72,C869758554,55794.32,42898.60,M1427892726,0.00,12895.72,1,1
5,BANK ACCOUNT,CASH_OUT,279322.88,C393594087,1629141.12,1349818.24,C657736958,6071458.76,6350781.64,1,1
6,BANK ACCOUNT,CASH_OUT,13707.11,C556223230,13707.11,0.00,C2094777811,0.00,13707.11,1,1
7,BANK ACCOUNT,CASH_OUT,10119.47,C213063852,10119.47,0.00,C922511709,0.00,10119.47,1,1
8,WIRE-TRANSFER,TRANSFER,60726.57,C383882703,60726.57,0.00,C1807010830,0.00,60726.57,1,1
9,BANK ACCOUNT,CASH_OUT,415046.18,C1139817507,2227089.93,1812043.75,C1538745405,685156.96,1100203.14,1,1

In [8]:
pd.Categorical(df['Instrument or Mode'])

['BANK ACCOUNT', 'BANK ACCOUNT', 'WIRE-TRANSFER', 'BANK ACCOUNT', 'CREDIT-CARD', ..., 'BANK ACCOUNT', 'CREDIT-CARD', 'WIRE-TRANSFER', 'CREDIT-CARD', 'CREDIT-CARD']
Length: 499
Categories (4, object): ['BANK ACCOUNT', 'CREDIT-CARD', 'DEBIT-CARD', 'WIRE-TRANSFER']

In [9]:
df['Instrument or Mode']=pd.Categorical(df['Instrument or Mode']).codes

In [10]:
df.head(10)

,Instrument or Mode,type,amount,AccountNoOrig,oldbalanceOrg,newbalanceOrig,AccountNoDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud for Operations
0,0,CASH_OUT,19681.95,C417621837,2347047.00,2327365.05,M971324399,0.00,19681.95,1,1
1,0,CASH_OUT,133270.90,C417621837,2500000.00,2366729.10,C2094777811,67722.17,200993.07,1,1
2,3,TRANSFER,86070.17,C1844941220,86070.17,0.00,C1191544932,0.00,86070.17,1,1
3,0,CASH_OUT,10000000.00,C351297720,10000000.00,0.00,C766681183,0.00,10000000.00,1,1
4,1,PAYMENT,12895.72,C869758554,55794.32,42898.60,M1427892726,0.00,12895.72,1,1
5,0,CASH_OUT,279322.88,C393594087,1629141.12,1349818.24,C657736958,6071458.76,6350781.64,1,1
6,0,CASH_OUT,13707.11,C556223230,13707.11,0.00,C2094777811,0.00,13707.11,1,1
7,0,CASH_OUT,10119.47,C213063852,10119.47,0.00,C922511709,0.00,10119.47,1,1
8,3,TRANSFER,60726.57,C383882703,60726.57,0.00,C1807010830,0.00,60726.57,1,1
9,0,CASH_OUT,415046.18,C1139817507,2227089.93,1812043.75,C1538745405,685156.96,1100203.14,1,1

In [11]:
pd.Categorical(df['type'])

['CASH_OUT', 'CASH_OUT', 'TRANSFER', 'CASH_OUT', 'PAYMENT', ..., 'CASH_OUT', 'PAYMENT', 'TRANSFER', 'PAYMENT', 'PAYMENT']
Length: 499
Categories (4, object): ['CASH_OUT', 'DEBIT', 'PAYMENT', 'TRANSFER']

In [12]:
df['type']=pd.Categorical(df['type']).codes
df['AccountNoOrig']=pd.Categorical(df['AccountNoOrig']).codes
df['AccountNoDest']=pd.Categorical(df['AccountNoDest']).codes

In [13]:
df.head(5)

,Instrument or Mode,type,amount,AccountNoOrig,oldbalanceOrg,newbalanceOrig,AccountNoDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud for Operations
0,0,0,19681.95,329,2347047.00,2327365.05,432,0.00,19681.95,1,1
1,0,0,133270.90,329,2500000.00,2366729.10,100,67722.17,200993.07,1,1
2,3,3,86070.17,198,86070.17,0.00,14,0.00,86070.17,1,1
3,0,0,10000000.00,308,10000000.00,0.00,146,0.00,10000000.00,1,1
4,1,2,12895.72,461,55794.32,42898.60,227,0.00,12895.72,1,1

In [14]:
X=df.drop('isFraud',axis=1)

In [15]:
X

,Instrument or Mode,type,amount,AccountNoOrig,oldbalanceOrg,newbalanceOrig,AccountNoDest,oldbalanceDest,newbalanceDest,isFlaggedFraud for Operations
0,0,0,19681.95,329,2347047.00,2327365.05,432,0.00,19681.95,1
1,0,0,133270.90,329,2500000.00,2366729.10,100,67722.17,200993.07,1
2,3,3,86070.17,198,86070.17,0.00,14,0.00,86070.17,1
3,0,0,10000000.00,308,10000000.00,0.00,146,0.00,10000000.00,1
4,1,2,12895.72,461,55794.32,42898.60,227,0.00,12895.72,1
...,...,...,...,...,...,...,...,...,...,...
494,0,0,2657.50,26,250000.00,247342.50,97,60314.73,62972.23,0
495,1,2,11971.97,415,141440.00,129468.03,271,0.00,11971.97,1
496,3,3,30538.26,255,31324.00,785.74,71,177509.88,208048.14,1
497,1,2,6078.00,92,250000.00,243922.00,426,0.00,6078.00,1
498,1,2,7874.98,18,41945.73,34070.75,199,0.00,7874.98,1

In [16]:
y=df['isFraud']

In [17]:
y

0      1
1      1
2      1
3      1
4      1
      ..
494    0
495    0
496    0
497    0
498    0
Name: isFraud, Length: 499, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.85)

In [19]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train)

SVC(kernel='linear')

In [20]:
y_pred = svclassifier.predict(X_test)

In [21]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[405   2]
 [ 18   0]]
              precision    recall  f1-score   support

           0       0.96      1.00      0.98       407
           1       0.00      0.00      0.00        18

    accuracy                           0.95       425
   macro avg       0.48      0.50      0.49       425
weighted avg       0.92      0.95      0.93       425